@using Bejebeje.Models.Search
@model Bejebeje.Models.Search.SearchViewModel

@{
  ViewData["Title"] = "Search";
  ViewData["Description"] = "Search and find lyrics in the largest, community driven archive of Kurdish lyrics on the internet";
}

<div class="py-5 pr-4 mb-6">
  <nav class="text-neutral-200 opacity-70 uppercase text-base">
    <a asp-controller="Search" asp-action="Index">/ Search</a> / @Model.SearchTerm
  </nav>
</div>

@await Html.PartialAsync("_SearchForm")

<div class="pr-4 lg:pr-8">
  @if (!Model.Lyrics.Any() && !Model.Artists.Any() && !string.IsNullOrEmpty(Model.SearchTerm))
  {
    <div class="mb-10">
      <div class="results__heading">
        <h2>There were no matching artists and lyrics!</h2>
      </div>
    </div>
  }
  else
  {
    @if (!string.IsNullOrEmpty(Model.SearchTerm))
    {
      <div class="mb-10">
        <h2 class="text-neutral-200 font-open-sans text-xl font-semibold mb-6">Artists</h2>

        @if (Model.Artists.Any())
        {
          <ul class="flex flex-col gap-4">
            @foreach (SearchArtistResultViewModel artist in Model.Artists)
            {
              <li class="">
                <a asp-controller="Lyric" asp-action="ArtistLyrics" asp-route-artistSlug="@artist.PrimarySlug"
                   class="flex gap-4 items-center">
                  <picture>
                    <source type="image/webp" srcset=@($"{artist.ImageUrl}.webp")>
                    <source type="image/jpeg" srcset=@($"{artist.ImageUrl}.jpg")>

                    <img class="rounded-sm"
                         src=@($"{artist.ImageUrl}.jpg")
                         width="60"
                         height="60"
                         loading="lazy"
                         alt="@artist.ImageAlternateText"/>
                  </picture>

                  <h5 class="text-neutral-200 font-open-sans text-base">
                    @artist.Name
                  </h5>
                </a>
              </li>
            }
          </ul>
        }
        else
        {
          <h3>No matching artists!</h3>
        }
      </div>

      <div class="mb-10">
        <h2 class="text-neutral-200 font-open-sans text-xl font-semibold mb-6">Lyrics</h2>

        @if (Model.Lyrics.Any())
        {
          <ul class="flex flex-col gap-4">
            @foreach (var item in Model.Lyrics)
            {
              <li class="bg-neutral-700 p-4">
                <a asp-controller="Lyric" asp-action="Lyric" asp-route-artistSlug="@item.ArtistSlug"
                   asp-route-lyricSlug="@item.LyricPrimarySlug" class="flex flex-col gap-0.5 text-neutral-400 text-sm">
                  <strong class="text-neutral-200 font-lora text-base">@item.Title</strong>

                  @item.ArtistFullName
                </a>
              </li>
            }
          </ul>
        }
        else
        {
          <h3>No matching lyrics!</h3>
        }
      </div>
    }
  }
</div>
