@model Bejebeje.Models.Search.SearchViewModel

@{
  ViewData["Title"] = "Search";
  ViewData["Description"] = "Search and find lyrics in the largest, community driven archive of Kurdish lyrics on the internet";
}

<header>
  <h1>Search</h1>
</header>

<div class="search margin-l">
  <form asp-controller="Search" asp-action="Index" method="post" class="search__form">
    <input asp-for="@Model.SearchTerm" class="search__input" placeholder="artist name or lyric title" />
  </form>
</div>

<div class="results">
  @if (!Model.Lyrics.Any() && !Model.Artists.Any() && !string.IsNullOrEmpty(Model.SearchTerm))
  {
    <div class="results__wrap">
      <div class="results__heading">
        <h2>There were no matching artists and lyrics!</h2>
      </div>
    </div>
  }
  else
  {
    @if (!string.IsNullOrEmpty(Model.SearchTerm))
    {
      <div class="results__wrap">
        <div class="results__heading">
          <h2>Artists</h2>
        </div>

        @if (Model.Artists.Any())
        {
          <ul class="results__artists">
            @foreach (var item in Model.Artists)
            {
              <li class="results__artist-item">
                @if (item.HasImage)
                {
                  <img class="results__artist-image"
                       src="@Url.Action("GetArtistImage", "ArtistImage", new {artistSlug = item.PrimarySlug})"
                       width="60"
                       height="60"
                       alt="@item.Name image" />
                }
                else
                {
                  <img class="results__artist-image"
                       src="~/images/artist-placeholder.jpg"
                       width="60"
                       height="60"
                       alt="artist placeholder image" />
                }

                <a asp-controller="Lyric" asp-action="ArtistLyrics" asp-route-artistSlug="@item.PrimarySlug" class="results__artist-link">
                  @item.Name
                </a>
              </li>
            }
          </ul>
        }
        else
        {
          <h3>No matching artists!</h3>
        }
      </div>

      <div class="results__wrap">
        <div class="results__heading">
          <h2>Lyrics</h2>
        </div>
        @if (Model.Lyrics.Any())
        {
          <ul class="results__lyrics">
            @foreach (var item in Model.Lyrics)
            {
              <li class="results__lyric-item">
                <a asp-controller="Lyric" asp-action="Lyric" asp-route-artistSlug="@item.ArtistSlug" asp-route-lyricSlug="@item.LyricPrimarySlug" class="results__lyric-link">
                  <strong>@item.Title</strong>

                  @item.ArtistFullName
                </a>
              </li>
            }
          </ul>
        }
        else
        {
          <h3>No matching lyrics!</h3>
        }
      </div>
    }
  }
</div>
