@using Bejebeje.Models.Search
@model Bejebeje.Models.Search.SearchViewModel

@{
  ViewData["Title"] = "Search";
  ViewData["Description"] = "Search and find lyrics in the largest, community driven archive of Kurdish lyrics on the internet";
}

<div class="breadcrumb-nav">
  <nav>
    <a asp-controller="Search" asp-action="Index">/ Search</a> / @Model.SearchTerm
  </nav>
</div>

<div class="search">
  <form asp-controller="Search" asp-action="Index" method="post" class="search__form">
    <input asp-for="@Model.SearchTerm" class="search__input" placeholder="artist name or lyric title" />
  </form>
</div>

<div class="results">
  @if (!Model.Lyrics.Any() && !Model.Artists.Any() && !string.IsNullOrEmpty(Model.SearchTerm))
  {
    <div class="results__wrap">
      <div class="results__heading">
        <h2>There were no matching artists and lyrics!</h2>
      </div>
    </div>
  }
  else
  {
    @if (!string.IsNullOrEmpty(Model.SearchTerm))
    {
      <div class="results__wrap">
        <h2 class="results__heading">Artists</h2>

        @if (Model.Artists.Any())
        {
          <ul class="results__artists">
            @foreach (SearchArtistResultViewModel artist in Model.Artists)
            {
              <li class="results__artist-item">
                <picture>
                  <source type="image/webp" srcset=@($"{artist.ImageUrl}.webp")>
                  <source type="image/jpeg" srcset=@($"{artist.ImageUrl}.jpg")>

                  <img class="results__artist-image"
                       src=@($"{artist.ImageUrl}.jpg")
                       width="60"
                       height="60"
                       loading="lazy"
                       alt="@artist.ImageAlternateText" />
                </picture>

                <a asp-controller="Lyric" asp-action="ArtistLyrics" asp-route-artistSlug="@artist.PrimarySlug" class="results__artist-link">
                  @artist.Name
                </a>
              </li>
            }
          </ul>
        }
        else
        {
          <h3>No matching artists!</h3>
        }
      </div>

      <div class="results__wrap">
        <h2 class="results__heading">Lyrics</h2>

        @if (Model.Lyrics.Any())
        {
          <ul class="results__lyrics">
            @foreach (var item in Model.Lyrics)
            {
              <li class="results__lyric-item">
                <a asp-controller="Lyric" asp-action="Lyric" asp-route-artistSlug="@item.ArtistSlug" asp-route-lyricSlug="@item.LyricPrimarySlug" class="results__lyric-link">
                  <strong>@item.Title</strong>

                  @item.ArtistFullName
                </a>
              </li>
            }
          </ul>
        }
        else
        {
          <h3>No matching lyrics!</h3>
        }
      </div>
    }
  }
</div>
