@model IDictionary<char, List<Bejebeje.Models.Artist.LibraryArtistViewModel>>

@{
  ViewData["Title"] = "Artists";
  ViewData["Description"] = "Kurdish lyrics for all artists in the Bejebeje archives.";
}

@{
  var dictionaryKeys = Model.Keys;
}

<div class="py-5 pr-4 mb-6">
  <nav class="text-neutral-200 opacity-70 uppercase text-base">
    <a asp-controller="Artist" asp-action="Index">/ Artists</a>
  </nav>
</div>

@await Html.PartialAsync("_SearchForm")

<div class="letters-wrapper">
  @foreach (char letter in dictionaryKeys)
  {
    <section class="pr-4 lg:pr-8">
      <h2 class="sticky py-6 bg-neutral-800 font-open-sans text-neutral-200 text-2xl top-0">@letter</h2>

      <ul class="flex flex-col justify-center gap-4">
        @foreach (var artist in Model[letter])
        {
          <li>
            <a asp-controller="Lyric" asp-action="ArtistLyrics" asp-route-artistSlug="@artist.PrimarySlug" class="flex gap-4">

              <picture>
                <source type="image/webp" srcset=@($"{artist.ImageUrl}.webp")>
                <source type="image/jpeg" srcset=@($"{artist.ImageUrl}.jpg")>

                <img src=@($"{artist.ImageUrl}.jpg")
                     width="80"
                     height="80"
                     loading="lazy"
                     alt="@artist.ImageAlternateText"
                     class="rounded-sm"/>
              </picture>


              <div class="flex flex-col justify-center gap-0.5">
                @{
                  string text = artist.NumberOfLyrics > 1 ? "Lyrics" : "Lyric";
                }

                <h3 class="text-base text-neutral-200 font-open-sans">@artist.FullName</h3>
                <h4 class="text-sm text-neutral-400 font-lora">@artist.NumberOfLyrics @text</h4>
              </div>
            </a>
          </li>
        }
      </ul>
    </section>
  }
</div>