@model IDictionary<char, List<Bejebeje.Models.Artist.LibraryArtistViewModel>>

@{
  ViewData["Title"] = "Artists";
  ViewData["Description"] = "Kurdish lyrics for all artists in the Bejebeje archives.";
}

@{
  var dictionaryKeys = Model.Keys;
}

<div class="breadcrumb-nav">
  <nav>
    <a asp-controller="Artist" asp-action="Index">/ Artists</a>
  </nav>
</div>

<div class="search">
  <form asp-controller="Search" asp-action="Index" method="post" class="search__form">
    <input class="search__input" placeholder="search for artist or lyric" name="searchTerm" />
  </form>
</div>

<div class="letters-wrapper">
  @foreach (char letter in dictionaryKeys)
  {
    <section class="letter-section">
      <h2 class="letter">@letter</h2>

      <ul>
        @foreach (var artist in Model[letter])
        {
          <li>
            <a asp-controller="Lyric" asp-action="ArtistLyrics" asp-route-artistSlug="@artist.PrimarySlug">
              <div class="artist">
                <picture>
                  <source type="image/webp" srcset=@($"{artist.ImageUrl}.webp")>
                  <source type="image/jpeg" srcset=@($"{artist.ImageUrl}.jpg")>

                  <img src=@($"{artist.ImageUrl}.jpg")
                       width="80"
                       height="80"
                       loading="lazy"
                       alt="@artist.ImageAlternateText" />
                </picture>


                <div class="artist-details">
                  @{
                    string text = artist.NumberOfLyrics > 1 ? "Lyrics" : "Lyric";
                  }

                  <h3>@artist.FullName</h3>
                  <h4>@artist.NumberOfLyrics @text</h4>
                </div>
              </div>
            </a>
          </li>
        }
      </ul>
    </section>
  }
</div>