@model Bejebeje.Models.Artist.ArtistLyricsViewModel

@{
  ViewData["Title"] = $"{Model.Artist.FullName} lyrics";
  ViewData["Description"] = $"{Model.Artist.FullName} lyrics. Gotinê stranê {Model.Artist.FullName}. {Model.Artist.FullName} sözleri";
}

<div class="header">
  <div class="header__image-wrapper">
    @if (Model.Artist.HasImage)
    {
      <img class="header__image"
           src="@Url.Action("GetArtistImage", "ArtistImage", new {artistSlug = Model.Artist.PrimarySlug})"
           alt="@Model.Artist.FullName image" />
    }
    else
    {
      <img class="header__image"
           src="~/images/artist-placeholder.jpg"
           alt="artist placeholder image" />
    }
  </div>

  <h1 class="header__title">@Model.Artist.FullName Lyrics</h1>
</div>

<ul class="lyrics">
  @foreach (var lyric in Model.Lyrics)
  {
    <li class="lyric">
      <a asp-controller="Lyric" asp-action="Lyric" asp-route-artistSlug="@Model.Artist.PrimarySlug" asp-route-lyricSlug="@lyric.Slug">
        <h4 class="lyric__title">@lyric.Title</h4>
      </a>
    </li>
  }
</ul>