@model Bejebeje.Models.Artist.ArtistLyricsViewModel

@{
  ViewData["Title"] = $"{Model.Artist.FullName} lyrics";
  ViewData["Description"] = $"{Model.Artist.FullName} lyrics. Gotinê stranê {Model.Artist.FullName}. {Model.Artist.FullName} sözleri";
}

<div class="breadcrumb-nav">
  <nav>
    <a asp-controller="Artist" asp-action="Index">/ Artists</a> / @Model.Artist.FullName
  </nav>
</div>

@await Html.PartialAsync("_SearchForm")

@if (!Model.Artist.IsApproved)
{
  <div class="warning">
    <p>Your submission is awaiting approval.</p>
  </div>
}

<div class="artist-info-wrap">
  <div class="artist-info">
    <picture>
      <source type="image/webp" srcset=@($"{Model.Artist.ImageUrl}.webp")>
      <source type="image/jpeg" srcset=@($"{Model.Artist.ImageUrl}.jpg")>

      <img class="artist-info__image"
           src=@($"{Model.Artist.ImageUrl}.jpg")
           alt="@Model.Artist.ImageAlternateText"
           width="100"
           height="100" />
    </picture>

    <div>
      <h1 class="artist-info__name">@Model.Artist.FullName</h1>
      <span class="artist-info__lyric-count">@Model.LyricCount</span>
    </div>
  </div>
</div>

@if (Model.Lyrics.Any())
{
  <ul class="artist-lyrics">
    @foreach (var lyric in Model.Lyrics)
    {
      <li class="artist-lyric">
        <a class="artist-lyric__link" asp-controller="Lyric" asp-action="Lyric" asp-route-artistSlug="@Model.Artist.PrimarySlug" asp-route-lyricSlug="@lyric.Slug">
          <h4 class="artist-lyric__title">@lyric.Title</h4>

          @if (lyric.IsVerified)
          {
            <span class="artist-lyric__verification-badge" title="Verified for accuracy"></span>
          }

          @if (lyric.IsAwaitingApproval)
          {
            <span class="artist-lyric__awaiting-approval-badge" title="Awaiting approval"></span>
          }
        </a>
      </li>
    }
  </ul>
}

<div class="actions">
  <a asp-controller="Lyric"
     asp-action="Create"
     asp-route-artistSlug="@Model.Artist.PrimarySlug"
     class="actions__add-lyric">
    Add a lyric for @Model.Artist.FullName
  </a>
</div>