@model Bejebeje.Models.Lyric.LyricDetailsViewModel

@{
  ViewData["Title"] = $"{Model.Artist.FullName} - {Model.Title} lyrics";
  ViewData["Description"] = $"Lyrics for {Model.Title} by {Model.Artist.FullName}. Gotinê strana {Model.Title} ya {Model.Artist.FullName}. {Model.Title} sözleri - {Model.Artist.FullName}";
}

<div class="py-5 pr-4 mb-6">
  <nav class="text-neutral-200 opacity-70 uppercase text-base">
    <a asp-controller="Lyric" asp-action="ArtistLyrics"
       asp-route-artistSlug="@Model.Artist.PrimarySlug">/ @Model.Artist.FullName</a> / @Model.Title
  </nav>
</div>

@await Html.PartialAsync("_SearchForm")

@if (!Model.IsApproved)
{
  <div class="">
    <p>Your submission is awaiting approval.</p>
  </div>
}

<a asp-controller="Lyric" asp-action="ArtistLyrics" asp-route-artistSlug="@Model.Artist.PrimarySlug"
   class="block mb-8 pr-4 lg:pr-8">
  <div class="flex gap-5 items-center bg-neutral-700 rounded-sm p-4">
    <picture>
      <source type="image/webp" srcset=@($"{Model.Artist.ImageUrl}.webp")>
      <source type="image/jpeg" srcset=@($"{Model.Artist.ImageUrl}.jpg")>

      <img class="rounded-full border border-neutral-500"
           src=@($"{Model.Artist.ImageUrl}.jpg")
           alt="@Model.Artist.ImageAlternateText"
           width="100"
           height="100"/>
    </picture>

    <div>
      <h1 class="text-neutral-200 font-open-sans uppercase">@Model.Artist.FullName</h1>
    </div>
  </div>
</a>

<div>
  <div>
    <h1 class="font-lora text-neutral-200 text-4xl mb-2">@Model.Title</h1>

    <div>
      <div class="flex gap-2 items-center">
        <p class="font-open-sans text-neutral-200 text-sm"><span class="opacity-70">By:</span> @Model.SubmitterUsername
        </p>
      </div>
    </div>
  </div>

  <div class="flex justify-between pr-4 lg:pr-8">
    <div class="mb-8">
      <div class="text-neutral-200 font-lora whitespace-pre-line mb-8">
        @Model.Body
      </div>

      @if (Model.Author.Id != null)
      {
        <a asp-controller="Author" asp-action="Get" asp-route-authorSlug="@Model.Author.PrimarySlug" class="bg-neutral-700 p-4 flex items-center gap-2 rounded-sm">
          <i class="fa-solid fa-pen-nib text-neutral-400"></i>
          <h6 class="text-neutral-200 font-semibold font-open-sans">
            <span class="text-neutral-400">Lyrics by:</span> @Model.Author.FullName
          </h6>
        </a>
      }
    </div>

    <div class="flex flex-col gap-4">
      @if (Model.IsVerified)
      {
        <i class="fa-kit fa-badge text-3xl lg:text-2xl text-blue-500" title="Verified for accuracy"></i>
      }

      <div class="flex flex-col items-center justify-center">
        @if (Model.AlreadyLiked)
        {
          <i class="fa-solid fa-heart text-3xl lg:text-2xl text-red-400" title="Lyric likes"></i>
        }
        else
        {
          <a asp-controller="Lyric"
             asp-action="Like"
             asp-route-artistSlug="@Model.Artist.PrimarySlug"
             asp-route-lyricSlug="@Model.PrimarySlug"
             asp-route-lyricId="@Model.Id">
            <i class="fa-solid fa-heart text-3xl lg:text-2xl text-neutral-500"></i>
          </a>
        }

        <p class="text-neutral-500 font-bold font-lora text-xl">@Model.NumberOfLikes</p>
      </div>
    </div>
  </div>
</div>