@model Bejebeje.Models.Lyric.LyricDetailsViewModel

@{
  ViewData["Title"] = $"{Model.Artist.FullName} - {Model.Title} lyrics";
  ViewData["Description"] = $"Lyrics for {Model.Title} by {Model.Artist.FullName}. Gotinê strana {Model.Title} ya {Model.Artist.FullName}. {Model.Title} sözleri - {Model.Artist.FullName}";
}

<div class="breadcrumb-nav">
  <nav>
    <a asp-controller="Lyric" asp-action="ArtistLyrics" asp-route-artistSlug="@Model.Artist.PrimarySlug">/ @Model.Artist.FullName</a> / @Model.Title
  </nav>
</div>

<div class="search">
  <form asp-controller="Search" asp-action="Index" method="get" class="search__form">
    <input class="search__input" placeholder="search for artist or lyric" name="searchTerm" />
  </form>
</div>

@if (!Model.IsApproved)
{
  <div class="warning">
    <p>Your submission is awaiting approval.</p>
  </div>
}

<a asp-controller="Lyric" asp-action="ArtistLyrics" asp-route-artistSlug="@Model.Artist.PrimarySlug" class="artist-info-wrap">
  <div class="artist-info">
    <picture>
      <source type="image/webp" srcset=@($"{Model.Artist.ImageUrl}.webp")>
      <source type="image/jpeg" srcset=@($"{Model.Artist.ImageUrl}.jpg")>

      <img class="artist-info__image"
           src=@($"{Model.Artist.ImageUrl}.jpg")
           alt="@Model.Artist.ImageAlternateText"
           width="100"
           height="100" />
    </picture>

    <div>
      <h1 class="artist-info__name">@Model.Artist.FullName</h1>
    </div>
  </div>
</a>

<div class="lyric__wrap">
  <div class="lyric__title-wrap">
    <h1 class="lyric__title">@Model.Title</h1>
  </div>

  <div class="lyric__body-wrap">
    <div class="lyric__body">
      @Model.Body
    </div>

    <div class="actions__wrap">
      @if (Model.IsVerified)
      {
        <span class="verification-badge" title="Verified for accuracy"></span>
      }

      <div class="like__button">
        @if (Model.AlreadyLiked)
        {
          <span class="like__link-clicked"></span>
        }
        else
        {
          <a asp-controller="Lyric"
             asp-action="Like"
             asp-route-artistSlug="@Model.Artist.PrimarySlug"
             asp-route-lyricSlug="@Model.PrimarySlug"
             asp-route-lyricId="@Model.Id"
             class="like__link"></a>
        }

        <p class="like__count">@Model.NumberOfLikes</p>
      </div>
    </div>
  </div>
</div>