@using Bejebeje.Models.Lyric
@model Bejebeje.Models.Lyric.LyricRecentSubmissionViewModel

@{
  ViewData["Title"] = "Home";
}

<header>
  <h1>Home</h1>
</header>

<section class="section">
  <h2 class="section__title">Recent</h2>

  <ul class="section__content">
    @foreach (LyricItemViewModel item in Model.Lyrics)
    {
      <li class="section__content-item">
        <div class="recent">
          <a asp-controller="Lyric" asp-action="Lyric" asp-route-artistSlug="@item.ArtistPrimarySlug" asp-route-lyricSlug="@item.LyricPrimarySlug" class="recent__lyric-link">
            @if (item.ArtistHasImage)
            {
              <img class="recent__artist-image"
                   src="@Url.Action("GetArtistImage", "ArtistImage", new {artistSlug = item.ArtistPrimarySlug})"
                   width="80"
                   height="80"
                   alt="@item.ArtistName image" />
            }
            else
            {
              <img class="recent__artist-image"
                   src="https://picsum.photos/80/80"
                   width="80"
                   height="80"
                   alt="artist placeholder image" />
            }

            <h2 class="recent__lyric-title">@item.Title</h2>
          </a>

          <a asp-controller="Lyric" asp-action="ArtistLyrics" asp-route-artistSlug="@item.ArtistPrimarySlug" class="recent__artist-link">
            <h3 class="recent__artist-name">@item.ArtistName</h3>
          </a>
        </div>
      </li>
    }
  </ul>
</section>